{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title></title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="icon" href="{% static 'img/logo.png' %}">
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      />
      <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css"
      />
      <link rel="stylesheet" href="{% static 'index.css' %}"/>
  </head>
  <body>
    <div class="profile-container">
        <header class="profile-header">
            <div class="header_avatar">
            <i class="fas fa-sign-out-alt"></i>
            <a href='{% url "logout_view" %}'>Logout</a>
            </div>
        </header>
        <aside class="profile-aside">
            <img src="{% static 'img/logo.png' %}" alt="logo" class="profile-logo" />
            <nav class="profile-aside_nav">
                <ul class="profile-aside_list">
                    <li class="profile-aside_list-item">
                    <a href='{% url "add_vaccination" %}' class="profile-aside_list-link"><i class="fas fa-syringe"></i>Add Vaccination</a>
                    </li>
                    <li class="profile-aside_list-item">
                    <a href='{% url "all_vaccinations" %}' class="profile-aside_list-link"><i class="fas fa-folder-open"></i>All Vaccinations</a>
                    </li>
                    <li class="profile-aside_list-item">
                    <a  class="profile-aside_list-link"><i class="far fa-chart-bar"></i>Statistics</a>
                    </li>
                    <li class="profile-aside_list-item">
                    <a href='{% url "hospital_profile" %}' class="profile-aside_list-link"><i class="fas fa-user"></i>Profile</a>
                    </li>
                </ul>
            <nav>
        </aside>
        
        <main class="main">
            <div class="container-main">
            <h1 style="color:red">{{err}}</h3>
                <div class="container-info">
                    <p class="form_message-p"><i class="far fa-plus-square"></i>Add a new vaccination</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="container-form">
                        <div class="container-sesion">
                            <div class="container-input-info">
                                <i class="fa fa-user"></i>Citizen Data
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                        <i class="far fa-id-badge icon"></i></i>
                                        <input
                                        class="input-field"
                                        type="text"
                                        placeholder="A.M.K.A"
                                        name="amka"
                                        id="amka"
                                        maxlength="11"
                                        minlength="11"
                                        required
                                        autocomplete="off"
                                        />
                                </div>

                                <div class="input-container-column">
                                    <i class="far fa-user icon"></i>
                                    <input
                                    class="input-field"
                                    type="text"
                                    placeholder="Full Name"
                                    name="fname"
                                    id="fname"
                                    required
                                    autocomplete="off"
                                    />
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                    <i class="fas fa-transgender icon"></i>
                                    <select id="mySelect"  name="mySelect" onchange="gender();">
                                        <option value="">Select Gender</option>
                                        <option value="female">Female</option>
                                        <option value="male">Male</option>
                                    </select>
                                </div>
                                <div class="input-container-column">
                                    <i class="fas fa-globe-europe icon"></i>
                                    <input
                                    class="input-field"
                                    type="number"
                                    placeholder="Age"
                                    name="age"
                                    id="age"
                                    required
                                    autocomplete="off"
                                    />
                                </div>
                            </div>
                            <div class="container-input-info">
                                <i class="far fa-address-book"></i>Address
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                    <i class="fas fa-street-view icon"></i>
                                    <input
                                        class="input-field"
                                        type="text"
                                        placeholder="Street,Number"
                                        name="street"
                                        id="street"
                                        autocomplete="off"
                                    />
                                </div>
                                <div class="input-container-column">
                                    <i class="fas fa-city icon"></i>
                                    <input
                                        class="input-field"
                                        type="text"
                                        placeholder="City"
                                        name="city"
                                        id="city"
                                        required
                                        autocomplete="off"
                                    />
                                </div>
                            </div>    
                            <div class="input-container">
                                <div class="input-container-column">
                                    <i class="fas fa-globe-europe icon"></i>
                                    <input
                                        class="input-field"
                                        type="text"
                                        placeholder="Country"
                                        name="country"
                                        id="country"
                                        required
                                        autocomplete="off"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="container-sesion">
                            <div class="container-input-info">
                                <i class="fas fa-viruses"></i>Vaccination info
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                    <label for="vbrand">Vaccine Brand</label>
                                    <i class="fas fa-viruses icon"></i>
                                    <select id="vbrand" name="vbrand">
                                        <option value="">Select</option>
                                        <option value="Pfizer">Pfizer-BioNTech</option>
                                        <option value="AstraZeneca">AstraZeneca</option>
                                        <option value="Johnson & Johnson">Johnson & Johnson's Janssen</option>
                                        <option value="Moderna">Moderna</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                    <label for="dosea">Dose A</label>
                                    <i class="far fa-calendar-alt icon"></i>
                                    <input
                                        class="input-field"
                                        type="date"
                                        name="dosea"
                                        id="dosea"
                                        required
                                    />
                                </div>
                                <div class="input-container-column">
                                    <label for="doseb">Dose B</label>
                                    <i class="far fa-calendar-alt icon"></i>
                                    <input
                                        class="input-field"
                                        type="date"
                                        name="doseb"
                                        id="doseb"
                                        
                                    />
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                    <label for="compldoses">Completed Doses</label>
                                    <i class="fas fa-mouse-pointer icon"></i>
                                    <select id="compldoses" name="compldoses">
                                        <option value="">Select</option>
                                        <option value=0>0</option>
                                        <option value=1>1</option>
                                        <option value=2>2</option>
                                    </select>
                                </div>
                                <div class="input-container-column">
                                    <label for="status">Status of Vaccinations</label>
                                    <i class="fas fa-mouse-pointer icon"></i>
                                    <select id="status" name="status">
                                        <option value="">Select</option>
                                        <option value="pending">Pending</option>
                                        <option value="completed">Completed</option>
                                        <option value="canceled">Canceled</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-container-column">
                                    <label for="symptoms">Symptoms</label>
                                    <textarea id="symptoms" name="symptoms" rows="4" cols="50"></textarea>
                                </div>
                            </div>    
                        </div>
                        <button type="submit" class="submit-button">Update</button>
                    </div>
                </form>
            </div>
        </main>
        <footer class="profile-footer">
          <div class="footer">
            <div class="footer-row">
              <div class="footer-div-column">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="footer-img" />
                <p class="footer-div-p">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
              </div>
              <div class="footer-div-row">
                <div class="footer-div-ul">
                  <a href="">About Us</a>
                  <a href="">Contact</a>
                  <a href="">Support</a>
                </div>
              </div>
              <div class="footer-div-column">
                <h4 class="footer-div-h2">Contact us</h4>
                <ul class="footer-div-ul contact">
                  <li>
                    <a href=""><i class="fas fa-mobile-alt"></i> +88 0123 456 789</a>
                  </li>
                  <li>
                    <a href=""><i class="far fa-envelope"></i> info@demo.com</a>
                  </li>
                </ul>
                <div class="footer-social">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
            <div class="footer-row-copy">
              <p>&copy; 2020 all rights reserved. Made with &hearts;</p>
            <div> 
          </div> 
        </footer>
      </div>
      <script src="" async defer>
          var todayDate = new Date();
          var month = todayDate.getMonth(); 
          var year = todayDate.getUTCFullYear() - 0; 
          var tdate = todayDate.getDate(); 
          if(month < 10){
          month = "0" + month 
          }
          if(tdate < 10){
              tdate = "0" + tdate;
          }
          var maxDate = year + "-" + month + "-" + tdate;
          document.getElementById("dosea").setAttribute("min", maxDate);
      </script>
  </body>
</html>
