{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" />
    <link rel="icon" href="{% static 'img/logo.png' %}" />
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>

<body onload="onLoad()">
    <input type="checkbox" id="sidebar__toggle" />
    <div class="sidebar">
        <div class="sidebar__header">
            <img src="https://img.icons8.com/cotton/64/000000/add-to-database.png" alt="database" />
            <h3 class="brand">
                <span>VacciChain</span>
            </h3>
            <label for="sidebar__toggle" class="las la-bars"></label>
        </div>
        <div class="sidebar__menu">
            <ul class="sidebar__menu--ul">
                <li>
                    <a href='{% url "add_vaccination" %}'>
                        <span class="fas fa-syringe"></span>
                        <span>Add a Vaccination</span>
                    </a>
                </li>
                <li>
                    <a href='{% url "all_vaccinations" %}'>
                        <span class="fas fa-folder-open"></span>
                        <span>All Vaccinations</span>
                    </a>
                </li>
                <div class="sidebar__submenu--head">
                    <span class="far fa-chart-bar"></span>
                    <span>Statistics</span>
                </div>
                <ul class="sidebar__submenu">
                    <li>
                        <a href='{% url "statsPerHospital" %}'>
                            <span>By Hospital</span>
                        </a>
                    </li>
                    <li>
                        <a href='{% url "statsPerCity" %}'>
                            <span>By City</span>
                        </a>
                    </li>
                    <li>
                        <a href='{% url "statsPerAge" %}'>
                            <span>By Age</span>
                        </a>
                    </li>
                    <li>
                        <a href='{% url "statsPerCountry" %}'>
                            <span>By Country</span>
                        </a>
                    </li>
                </ul>
                <li>
                    <a href='{% url "hospital_profile" %}'>
                        <span class="fas fa-user"></span>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href='{% url "logout_view" %}'>
                        <span class="fas fa-sign-out-alt"></span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main__content">
        <header>
            <div class="main__info">
                <div class="main__hospital">
                    <div class="main__icon"></div>
                </div>
                <div class="main__dropdown">
                    <button class="main__dropbtn">
                        {{current_hospital.name}}
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="main__dropdown--content">
                        <a href='{% url "logout_view" %}'><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="main__container">
                <div class="container__info">
                    <p class="form__message--p"><i class="far fa-plus-square"></i>Add a new vaccination</p>
                </div>
                <form method="post" id="form">
                    {% csrf_token %}
                    <div class="container__form">
                        <div class="container__sesion">
                            <div class="container__input--info"><i class="fa fa-user"></i>Citizen Data</div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <i class="far fa-id-badge icon"></i>
                                    <input class="container__input--field" type="text" placeholder="A.M.K.A" name="amka"
                                        id="amka" required minlength="11" maxlength="11" autocomplete="off" />
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <i class="far fa-user icon"></i>
                                    <input class="container__input--field" type="text" placeholder="Full Name"
                                        name="fname" id="fname" required autocomplete="off" />
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <i class="fas fa-transgender icon"></i>
                                    <select id="mySelect" name="mySelect" required>
                                        <option value="">Select Gender</option>
                                        <option value="female">Female</option>
                                        <option value="male">Male</option>
                                    </select>
                                    <small>Error message</small>
                                </div>
                                <div class="container__input--column">
                                    <i class="far fa-user icon"></i>
                                    <input class="container__input--field" type="number" placeholder="Age" name="age"
                                        id="age" required autocomplete="off" />
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input--info"><i class="far fa-address-book"></i>Address</div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <i class="fas fa-street-view icon"></i>
                                    <input class="container__input--field" type="text" placeholder="Street,Number"
                                        name="street" id="street" autocomplete="off" />
                                </div>
                                <div class="container__input--column">
                                    <i class="fas fa-city icon"></i>
                                    <input class="container__input--field" type="text" placeholder="City" name="city"
                                        id="city" required autocomplete="off" />
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <i class="fas fa-globe-europe icon"></i>
                                    <input class="container__input--field" type="text" placeholder="Country"
                                        name="country" id="country" required autocomplete="off" />
                                    <small>Error message</small>
                                </div>
                            </div>
                        </div>
                        <div class="container__sesion">
                            <div class="container__input--info"><i class="fas fa-syringe"></i>Vaccination info</div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <label for="vbrand">Vaccine Brand</label>
                                    <i class="fas fa-syringe icon"></i>
                                    <select id="vbrand" name="vbrand" required>
                                        <option value="">Select</option>
                                        <option value="Pfizer">Pfizer-BioNTech</option>
                                        <option value="AstraZeneca">AstraZeneca</option>
                                        <option value="Johnson & Johnson">Johnson & Johnson's Janssen</option>
                                        <option value="Moderna">Moderna</option>
                                    </select>
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <label for="dosea">Dose A</label>
                                    <input class="container__input--field" type="date" name="dosea" id="dosea"
                                        required />
                                    <small>Error message</small>
                                </div>
                                <div class="container__input--column">
                                    <label for="doseb">Dose B</label>
                                    <input class="container__input--field" type="date" name="doseb" id="doseb" />
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <label for="compldoses">Completed Doses</label>
                                    <i class="fas fa-mouse-pointer icon"></i>
                                    <select id="compldoses" name="compldoses" required>
                                        <option value="">Select</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                    <small>Error message</small>
                                </div>
                                <div class="container__input--column">
                                    <label for="status">Status of Vaccinations</label>
                                    <i class="fas fa-mouse-pointer icon"></i>
                                    <select id="status" name="status" required>
                                        <option value="">Select</option>
                                        <option value="pending">Pending</option>
                                        <option value="completed">Completed</option>
                                        <option value="canceled">Canceled</option>
                                    </select>
                                    <small>Error message</small>
                                </div>
                            </div>
                            <div class="container__input">
                                <div class="container__input--column">
                                    <label for="symptoms">Symptoms</label>
                                    <textarea id="symptoms" name="symptoms" rows="4" cols="50">...</textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="submit__button">Submit</button>
                    </div>
                </form>
            </div>
        </main>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        {% if err != None %}
        toastr["error"]("{{err}}");
        {% endif %}

        {% for message in messages %}
        toastr["success"]("{{message}}");
        {% endfor %}
    </script>
</body>

</html>