{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title></title>
  <script src="https://unpkg.com/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/gridjs-jquery/dist/gridjs.development.js"></script>
  <script src="https://unpkg.com/gridjs/dist/gridjs.development.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css" />
  <link rel="icon" href="{% static 'img/logo.png' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
  <link rel="stylesheet" href="{% static 'index.css' %}" />
  <style>
    .completed {
      background-color: green;
    }

    .canceled {
      background-color: #b12626;
    }

    .pending {
      background-color: orange;
    }

    .completed,
    .canceled,
    .pending {
      font-size: 15px;
      color: white;
      padding: 2px;
      display: block;
      border-radius: 3px;
    }

    tr.gridjs-tr:nth-child(even) td {
      background: #f2f2f2;
    }

    .gridjs-search {
      float: right;
    }

    input.gridjs-input:focus {
      border-color: #085769;
      box-shadow: 0 0 0 1px #085769;
    }

    .my-custom-td-class {
      color: #8390A2;

    }

    .edit {
      text-decoration: none;
      color: gray;
    }

    .edit:hover {
      text-decoration: none;
      color: #085769;
    }

    .main__container {
      width: -webkit-fill-available;
    }
  </style>
</head>

<body>
  <input type="checkbox" id="sidebar__toggle">
  <div class="sidebar">
    <div class="sidebar__header">
      <img src="https://img.icons8.com/cotton/64/000000/add-to-database.png" alt="database" />
      <h3 class="brand">
        <span>VacciChain</span>
      </h3>
      <label for="sidebar__toggle" class="las la-bars"></label>
    </div>
    <div class="sidebar__menu">
      <ul>
        <li>
          <a href='{% url "add_vaccination" %}'>
            <span class="fas fa-syringe"></span>
            <span>Add a Vaccination</span>
          </a>
        </li>
        <li>
          <a href='{% url "all_vaccinations" %}'>
            <span class="fas fa-folder-open"></span>
            <span>All Vaccinations</span>
          </a>
        </li>
        <li>
          <a href="">
            <span class="far fa-chart-bar"></span>
            <span>Statistics</span>
          </a>
        </li>
        <li>
          <a href='{% url "hospital_profile" %}'>
            <span class="fas fa-user"></span>
            <span>Profile</span>
          </a>
        </li>
        <li>
          <a href='{% url "logout_view" %}'>
            <span class="fas fa-sign-out-alt"></span>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main__content">
    <header>
      <div class="main__info">
        <div class="main__hospital">
          <div class="main__icon"></div>
        </div>
        <div class="main__dropdown">
          <button class="main__dropbtn">{{current_hospital.name}}
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="main__dropdown--content">
            <a href='{% url "logout_view" %}'><i class="fas fa-sign-out-alt"></i>Logout</a>
          </div>
        </div>
    </header>
    <main>
      <div class="main__container"></div>
    </main>
    <script type="module">
      const grid = new gridjs.Grid({
        columns: ["AMKA",
          "Name", "Age", "Gender", "Hospital", "Country", "Status", "1st Dose", "2nd Dose", "Symptoms", "Actions"],
        server: {
          url: "/allVaccinationsJson",
          then: (data) =>
            data.map((vaccine) => [
              vaccine.amka,
              vaccine.name,
              vaccine.age,
              vaccine.gender,
              vaccine.hospital,
              vaccine.country,
              gridjs.html("<span class='" + vaccine.status.toLowerCase() + "'>" + vaccine.status + "</span>"),
              vaccine.first_dose_date,
              vaccine.second_dose_date,
              vaccine.symptoms,
              //"HOSSP" == vaccine.hospital ? gridjs.html("<a class='action' href=''>" + "<i class='far fa-edit'>" + " " + "Edit" + "</a>") : "",
              "{{current_hospital.name}}" == vaccine.hospital ? gridjs.html(`<a class='edit' href='updateVaccination/${vaccine.amka}'>` + `<i class='far fa-edit'>` + `</a>`) : ""
            ]),
          //data: (opts) => {
          //return new Promise((resolve, reject) => {
          // let's implement our own HTTP client
          //const xhttp = new XMLHttpRequest();
          // xhttp.onreadystatechange = function () {
          // if (this.readyState === 4) {
          //if (this.status === 200) {
          //const resp = JSON.parse(this.response);

          // make sure the output conforms to StorageResponse format:
          // https://github.com/grid-js/gridjs/blob/master/src/storage/storage.ts#L21-L24
          //resolve({
          //data: resp.data.map((card) => [card.name, card.lang, card.released_at, card.artist]),
          //total: resp.total_cards,
          // });
          //} else {
          //reject();
          //}
          //}
          //};
          //xhttp.open("GET", opts.url, true);
          // xhttp.send();
          // });
          //},
        },
        pagination: {
          limit: 10,
        },
        search: true,
        sort: true,
        fixedHeader: true,
        resizable: true,
        language: {
          search: {
            placeholder: "🔍 Search...",
          },
        },
        className: {
          td: "my-custom-td-class",
          table: "custom-table-classname",
        },
        style: {
          table: {
            "white-space": "nowrap",
            "width": "-webkit-fill-available",
          },
          th: {
            "background-color": "#198590",
            "color": "white",
            "border-bottom": "3px solid #198590",
            "text-align": "center",
            "font-size": "1rem",
            "font-weight": "500",
          },
          td: {
            "text-align": "center",
            "min-width": "fit-content"
          },
        },
      }).render(document.querySelector('.main__container'));


    </script>

</body>

</html>