@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --main-color: rgb(25, 133, 144);
  --color-dark: #085769;
  --color-3: #456990;
  --color-4: #f45b69;
  --color-5: #e74c3c;
  --text-grey: #8390a2;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

#sidebar__toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--main-color);
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
  margin-bottom: 32px;
  background: var(--color-dark);
}

.sidebar__header img {
  width: 35px;
}

.sidebar__header label {
  font-size: 1.5rem;
}

.sidebar__header label:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.sidebar__menu {
  padding: 1rem;
}

.sidebar li {
  margin-bottom: 1.5rem;
  letter-spacing: 0.02em;
}

.sidebar li span,
.sidebar__submenu--head span {
  font-size: 1.1rem;
  color: #fff;
}

.sidebar li span:first-child {
  margin-right: 0.6rem;
}

.sidebar span:nth-child(2),
.sidebar__submenu span {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 3px no-repeat;
  transition: 0.5s;
}

.sidebar a:hover,
.sidebar__submenu span:hover {
  --d: 100%;
}

.sidebar__submenu--head span:last-child {
  padding-left: 0.6rem;
}

.sidebar__menu--head ul li a span {
  font-size: 0.9rem;
}

#sidebar__toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar__toggle:checked ~ .sidebar .sidebar__header img,
#sidebar__toggle:checked ~ .sidebar .sidebar__header h3 span,
#sidebar__toggle:checked ~ .sidebar li span:last-child,
#sidebar__toggle:checked ~ .sidebar .sidebar__submenu--head span:last-child,
#sidebar__toggle:checked ~ .sidebar .sidebar__submenu li {
  display: none;
}

#sidebar__toggle:checked ~ .sidebar .sidebar__header,
#sidebar__toggle:checked ~ .sidebar .sidebar__menu--ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#sidebar__toggle:checked ~ .main__content {
  margin-left: 60px;
}

#sidebar__toggle:checked ~ .main__content header {
  left: 60px;
  width: calc(100% - 60px);
}

.sidebar__submenu li a span {
  font-size: 0.9rem;
}

.sidebar__submenu {
  margin-left: 1.9rem;
  margin-top: 1rem;
}

.main__content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}

header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
  background-color: white;
  transition: left 500ms;
}

.main__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__info span,
.main__info div {
  margin-left: 0.2rem;
}

.main__info i {
  color: var(--main-color);
}

.main__info a {
  color: var(--text-grey);
  opacity: 0.7;
  font-size: 0.9rem;
}

.main__info a:hover {
  opacity: 1;
}

.main__icon {
  height: 26px;
  width: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("img/hospital-sign.png");
  margin-bottom: 3px;
}

.main__dropdown .main__dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--text-grey);
  background-color: inherit;
  font-family: inherit;
  margin-right: 0.5rem;
}

.main__dropdown--content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main__dropdown--content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.main__dropdown--content a:hover {
  background-color: #ddd;
}

.main__dropdown:hover .main__dropdown--content {
  display: block;
}

main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 60px);
}

/*Control*/

.container__input--column .success input {
  border-color: var(--success-color);
}

.container__input--column.error input {
  border-color: var(--error-color);
}

.container__input--column small {
  color: var(--error-color);
  position: absolute;
  bottom: -19px;
  right: 0;
  visibility: hidden;
}

.container__input--column.error small {
  visibility: visible;
}

/*Control*******************************************************************************/

.alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.header__login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  top: 0;
  height: 10vh;
}
.header__login img {
  z-index: 100;
}

.header__login--svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.header__login--svg svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.header__login--svg .shape-fill {
  fill: rgba(25, 133, 144, 0.7);
}

.main__login {
  display: flex;
  padding: 2rem;
}

.container__login {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header__img {
  height: 70px;
  margin-left: 30px;
}

.container__form {
  padding: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

form {
  width: -webkit-fill-available;
}

.form__message {
  margin-bottom: 15px;
}

.form__message--h2 {
  color: var(--color-dark);
  text-align: center;
}

.form__message--p {
  color: var(--color-dark);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.container__input {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

.container__input_remember {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  align-items: center;
}

.container__input--column {
  display: flex;
  width: 48%;
  align-items: center;
  position: relative;
}

.container__input--column label {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 13px;
  text-align: start;
  width: inherit;
}

/*.container__input--field:invalid{
   border: 1px solid red; 
}

.container__input--field:valid{
  border: 1px solid green;
}*/

input:required:focus:invalid {
  border: 1px solid red;
}

.container__input--field:focus:valid {
  border: 1px solid green;
}

.icon {
  color: var(--text-grey);
  min-width: 50px;
  text-align: center;
  padding: 10px;
  z-index: 1;
  margin-right: -50px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

input[type="number"] {
  width: 50%;
}

textarea {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  border: 1px solid #e0e0e0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  background-color: rgb(248, 245, 241);
  outline: none;
  border-bottom: 1px solid var(--main-color);
}

input::placeholder,
input[type="date"],
select,
option,
textarea {
  color: var(--text-grey);
  opacity: 1;
  cursor: pointer;
}

input:hover::placeholder,
select:hover,
option:hover {
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  right: 102%;
  filter: invert(0.6);
  cursor: pointer;
}

.input__p {
  color: var(--text-grey);
  margin-left: 5px;
  font-size: 13px;
}

.submit__button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  align-self: flex-end;
}

.submit__button:hover {
  background-color: var(--color-dark);
}

.container__signin,
.container__signin p {
  font-size: 0.85rem;
}
.container__signin a,
.container__signin p a {
  color: dodgerblue;
  font-size: 0.85rem;
}

.container__signin p {
  font-size: 0.85rem;
}

.form__tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form__tab button {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 8px;
  transition: 0.3s;
  font-size: 16px;
  width: 100%;
}

.form__tab button:hover {
  border: 1px solid var(--main-color);
}

.form__tab button.active {
  background-color: var(--main-color);
  border: none;
  font-weight: 600;
}

/* Style the tab content */
.form__tabcontent {
  justify-content: center;
  align-items: center;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  /*background-color: #424242;*/
  background-color: var(--color-dark);
  width: 100%;
  bottom: 0;
  position: inherit;
  color: white;
  position: relative;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 150px);
  justify-content: space-between;
  height: 17vh;
}

.footer-row {
  display: flex;
  align-items: flex-start;
  grid-row: 1/2;
  grid-column: 1/3;
}

.footer-div-column {
  flex-grow: 1;
  display: flex;
  flex-basis: 33%;
  padding: 14px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0;
}

.footer-div-p {
  text-align: center;
  margin-top: 25px;
}

.footer-div-ul {
  list-style: none;
}

.contact {
  pointer-events: none;
}

.footer-div-ul a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  color: inherit;
}

.footer-div-ul i {
  padding: 5px;
}

.footer-img {
  height: 35px;
}

.footer-div-h2 {
  margin-bottom: 2px;
  font-size: 1rem;
}

.footer-social i {
  color: white;
  padding: 5px;
}

.footer-social a:hover {
  background-color: #bdbdbd;
  padding: 0.5rem;
}

.footer-row-copy {
  grid-column: 1/3;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  font-size: 12px;
}

.main__container {
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1rem;
}

.main__header {
  grid-template-columns: repeat(4, 1fr);
}

.container__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: #111d5b;
  align-self: flex-start;
}

.container__info i {
  margin-right: 8px;
  color: var(--color-dark);
  font-size: 20px;
}

.container__sesion {
  padding: 20px;
  border-top: 1px solid var(--main-color);
}

.container-sesion:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container__sesion--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80px);
}

.container__input--info {
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--color-dark);
}

.container__input--info i {
  margin-right: 5px;
  font-size: 15px;
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 250px));
  grid-gap: 3rem;
  padding: 2rem;
  justify-content: center;
}
.main__card {
  background-color: rgb(30 210 217 / 40%);
  padding: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main__card--flex {
  display: flex;
  flex-direction: column;
}

.main__card--head {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #555;
  font-size: 0.9rem;
  align-items: center;
  text-align: center;
}

.main__card--head small {
  font-weight: 600;
  color: #555;
}

.main__card--info h2 {
  font-size: 2.2rem;
  color: #333;
}

.main__card--chart span {
  font-size: 5rem;
}

. form {
  width: -webkit-fill-available;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 60px;
    z-index: 150;
  }

  .sidebar .sidebar__header img,
  .sidebar .sidebar__header h3 span,
  .sidebar li span:last-child,
  .sidebar__submenu--head span:last-child,
  .sidebar .sidebar__submenu li {
    display: none;
  }

  .sidebar__header,
  .sidebar li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main__content {
    margin-left: 60px;
  }

  .main__content header {
    left: 60px;
    width: calc(100% - 60px);
  }

  #sidebar__toggle:checked ~ .sidebar {
    width: 240px;
  }

  #sidebar__toggle:checked ~ .sidebar .sidebar__header img,
  #sidebar__toggle:checked ~ .sidebar .sidebar__header h3 span,
  #sidebar__toggle:checked ~ .sidebar li span:last-child,
  #sidebar__toggle:checked ~ .sidebar__submenu--head span:last-child {
    display: inline;
  }

  #sidebar__toggle:checked ~ .sidebar .sidebar__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  #sidebar__toggle:checked ~ .sidebar li,
  #sidebar__toggle:checked ~ .sidebar .sidebar__submenu--head span:last-child {
    display: inline;
  }
  #sidebar__toggle:checked ~ .sidebar .sidebar__submenu--head .sidebar__submenu {
    display: block;
  }

  #sidebar__toggle:checked ~ .main__content {
    margin-left: 60px;
  }

  #sidebar__toggle:checked ~ .main__content header {
    left: 60px;
  }

  .main__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 860px) {
  .main__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__login img {
    margin-left: 0;
    height: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .custom-shape-divider-top-1622701545 svg {
    width: calc(174% + 1.3px);
    height: 135px;
  }

  .header__login img {
    margin-left: 0;
    height: 35px;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
